<b>Assign an IP Addresses to a host through Netbox</b>

<form accept-charset="UTF-8" action="/clients" method="post">
  <div>
  Name of Host:<br>
  <input type="text" name="client[name]" /> <br>
  </div>
  <div>
  <br>
  Role:<br>
  <input type="radio" name="type" value="Loopback" checked> Male<br>
  <input type="radio" name="type" value="Secondary"> Female<br>
  <input type="radio" name="type" value="Anycast"> Other
  </div>
  <div>
  <input type="text" name="client[address][postcode]" />
  </div>
  <input type="text" name="client[address][city]" />
</form>
