<b>Assign an IP Addresses to a host through Netbox</b>

<form accept-charset="UTF-8" action="/clients" method="post">
  <div>
  Name of Host:<br>
  <input type="text" name="client[name]" /> <br>
  </div>
  <div>
  <br>
  Role:<br>
  <input type="radio" name="type" value="Loopback" checked> Loopback<br>
  <input type="radio" name="type" value="Secondary"> Secondary<br>
  <input type="radio" name="type" value="Anycast"> Anycast<br>
  <input type="radio" name="type" value="VIP"> VIP<br>
  <input type="radio" name="type" value="VRRP"> VRRP<br>
  <input type="radio" name="type" value="HSRP"> HSRP<br>
  <input type="radio" name="type" value="GLBP"> HSRP<br>
  <input type="radio" name="type" value="CARP"> CARP<br>
  </div>
  <br>
  <input type="submit" value="Submit">
<!--   <div>
  <input type="text" name="client[address][postcode]" />
  </div>
  <input type="text" name="client[address][city]" /> -->
</form>
